:root {
  --color-bg: #fff;
  --color-button-bg: #111;
  --color-button-hover-bg: color-mix(in srgb, var(--color-button-bg), #fff 15%);
  --color-button-text: #fff;
  --color-link: #369;
  --color-text: #333;
  --font-body: system-ui, sans-serif;
  --font-heading: system-ui, sans-serif;
  --header-height: 85px;
  --text-size-normal: 1.6rem;
}
* {
  border: 0;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--text-size-normal);
  font-size-adjust: 0.5;
}
body.noscroll {
  overflow: hidden;
}
a {
  color: var(--color-link);
}
main {
  min-height: 90vh;
  padding-top: var(--header-height);
}
