.page-heading {
  padding: 60px 0 20px 0;
}
.page .container {
  width: min(68ch, calc(100% - 3rem));
}
.page h2 {
  margin-top: 40px;
}
.page h3 {
  margin-top: 30px;
}
.page p {
  margin: 15px 0;
}
.page ul {
  margin: 25px 0 30px 0;
}
.page li {
  font-size: 1.8rem;
  margin: 10px 15px;
}
