.post p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 15px 0;
}
.post h2 {
  margin-top: 40px;
}
.post-heading {
  background: var(--color-surface);
  padding: 60px 0;
}
.post-heading-meta {
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-small);
  gap: 10px;
  margin-top: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.post-heading-meta li {
  display: block;
}
.post-heading-meta-updated {
  font-style: italic;
}
.post .container {
  width: min(68ch, calc(100% - 3rem));
}
.post-content {
  margin: 30px 0;
}
