.post-heading {
  padding: 60px 0;
}
.post-heading > .container {
  width: min(68ch, calc(100% - 40px));
}
.post-heading-category {
  color: var(--color-accent);
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.post-heading-meta {
  color: var(--color-text-muted);
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-small);
  gap: 10px;
  margin-top: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.post-heading-meta li {
  display: block;
}
.post-heading-meta-updated {
  font-style: italic;
}
.post-content > .container {
  width: min(68ch, calc(100% - 40px));
}
.post-content h2 {
  font-size: 2.8rem;
  margin-top: 40px;
}
.post-content h3 {
  font-size: 2.2rem;
  margin-top: 20px;
}
.post-content p {
  font-size: var(--text-size-large);
  margin: 15px 0;
}
.post-content p > code {
  background: var(--color-surface);
  padding: 3px;
}
.post-content .astro-code {
  background: var(--color-bg) !important;
  border-radius: 10px;
  padding: 20px;
}
