.section {
  background: #000;
  padding: 60px 0;
  position: relative;
  z-index: 1;
  @media (min-width: 768px) {
    padding: 80px 0;
  }
}
.section--rounded {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -80px;
}
.section--light {
  background: #fff;
  color: #000;
}
.section--cols > .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.section--cols > .container > div {
  padding: 0;
  @media (min-width: 768px) {
    padding: 0 60px;
  }
}
.section--cols > .container > div:nth-child(1) {
  flex: 5;
  padding-left: 0;
  text-align: left;
}
.section--cols > .container > div:nth-child(1) h2 {
  position: sticky;
  top: 100px;
}
.section--cols > .container > div:nth-child(2) {
  flex: 9;
  text-align: left;
}
.section--cols h2 {
  line-height: 1.2;
}
.section--cols h3 {
  margin: 40px 0 15px 0;
}
.section--cols div h3:nth-child(1) {
  margin: 0 0 15px 0;
}
.section--cols p {
  font-size: var(--text-size-extra-large);
  line-height: var(--line-height-normal);
  margin-bottom: 15px;
}
.section--heading {
  text-align: center;
}
.section--heading > .container {
  @media (min-width: 768px) {
    align-items: center;
  }
}
.section--heading p {
  color: var(--color-text-muted);
  font-size: 3.2rem;
  margin: 30px 0 0 0;
}
